.tamaño-imagen{
  width: 100%;
  height: 50%;
  padding-bottom: 75%; /* Establece una relación de aspecto 4:3 */
  overflow: hidden;
}

.tamaño-imagen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Estilos para el título */
.color-text {
  color: #FF69B4; /* Cambia el color del texto a rosa */
  font-size: 70px; /* Aumenta el tamaño de la fuente del título */
  font-weight: bold; /* Hace el texto del título más negrita */
  text-align: center; /* Centra el texto del título */
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; /* Agrega un borde negro alrededor del texto */
}

h4 {
  font-size: 24px; /* Aumenta el tamaño de la fuente del subtítulo */
  text-align: center; /* Centra el texto del subtítulo */
}

a {
  color: #FF69B4 !important;
}

body {
  background-color: rgb(244, 211, 211);
  color: white;
}
